@inject IIsotopeOrderingAuthorizationService AuthorizationService
@model OrderDetailModel
<partial name="_AuditInformation" for="@Model" />
<input type="hidden" asp-for="Status" />
<div asp-validation-summary="All" class="alert alert-danger"></div>
<div class="row">
    <div class="col-md-12 col-lg-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="item-tab" data-toggle="pill" href="#item-content" role="tab" aria-controls="item-content" aria-selected="true">Select Material</a>
            <a class="nav-link" id="shipping-tab" data-toggle="pill" href="#shipping-content" role="tab" aria-controls="shipping-content" aria-selected="false">Shipping Information</a>
            <a class="nav-link" id="billing-tab" data-toggle="pill" href="#billing-content" role="tab" aria-controls="billing-content" aria-selected="false">Billing Information</a>
            <a class="nav-link" id="review-tab" data-toggle="pill" href="#review-content" role="tab" aria-controls="review-content" aria-selected="false">Review Order</a>
        </div>
    </div>
    <div class="col-md-12 col-lg-10">
        <div class="card">
            <div class="card-body">
                <div class="card shadow-sm border-0 mb-5">
                    <div class="card-body">
                        <partial name="_CustomerItemView" for="Customer" />
                    </div>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="item-content" role="tabpanel" aria-labelledby="item-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3">Select Materials</h5>
                        <partial name="_OrderItemList" for="Items" />
                        <button class="btn btn-info col-12 mt-5" type="button" onclick="moveTab('#shipping-tab')">Go to Shipping Information <i class="fas fa-arrow-right"></i></button>
                    </div>
                    <div class="tab-pane fade" id="shipping-content" role="tabpanel" aria-labelledby="shipping-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3">Shipping Information</h5>
                        <i>Select an existing address to ship to or enter a new address</i>
                        <partial name="_OrderAddressSelect" for="ShippingAddresses" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.AddressType, AddressType.Shipping} ,{ ViewDataKeys.CurrentAddress,Model.ShippingAddress }}" />
                        <div class="form-group mt-3 shadow p-3">
                            <label>FedEx Number</label>
                            <input type="text" class="form-control form-control-sm" onblur="onFedexNumberChanged(this);" asp-for="@Model.FedExNumber" />
                        </div>
                        <div class="btn btn-group col-12 mt-5">
                            <button class="btn btn-primary" type="button" onclick="moveTab('#item-tab')"><i class="fas fa-arrow-left"></i> Go back to Material Selection </button>
                            <button class="btn btn-info" type="button" onclick="moveTab('#billing-tab')">Go to Billing Information <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="billing-content" role="tabpanel" aria-labelledby="billing-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3">Billing Information</h5>
                        <i>Select an existing address to bill to or enter a new address</i>
                        <partial name="_OrderAddressSelect" for="BillingAddresses" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.AddressType, AddressType.Billing},{ ViewDataKeys.CurrentAddress,Model.BillingAddress } }" />
                        <div class="btn btn-group col-12 mt-5">
                            <button class="btn btn-primary" type="button" onclick="moveTab('#shipping-tab')"><i class="fas fa-arrow-left"></i> Go back to Shipping Information </button>
                            <button class="btn btn-info" type="button" onclick="moveTab('#review-tab')">Review Your Order <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="review-content" role="tabpanel" aria-labelledby="review-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3">Review Order</h5>
                        <div class="card  shadow border-0 m-3">
                            <div class="card-body">
                                <h5 class="card-title">Selected Materials</h5>
                                <partial name="_OrderCart" for="Cart" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="card shadow border-0 m-3">
                                    <div class="card-body" id="shipping-information">
                                        <h5 class="card-title">Shipping Information</h5>
                                        <partial name="_OrderAddress" for="ShippingAddress" />
                                        <div class="form-group">
                                            <label>FedEx Number</label>
                                            <input type="text" class="form-control-plaintext form-control-sm" asp-for="FedExNumber" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card shadow border-0 m-3">
                                    <div class="card-body" id="billing-information">
                                        <h5 class="card-title">Billing Information</h5>
                                        <partial name="_OrderAddress" for="BillingAddress" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="card shadow border-0 m-3">
                                    <div class="form-group p-3">
                                        <label>Order Notes</label>
                                        <textarea asp-for="Notes" class="form-control form-control-sm" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn-group col-12 mt-5">
                            <button class="btn btn-primary" type="button" onclick="moveTab('#shipping-tab')"><i class="fas fa-arrow-left"></i> Go back to Billing Information </button>
                            @if (Model.Id > 0) {
                                <button name="SubmitAction" type="submit" class="btn btn btn-danger" value="@OrderStatus.Cancelled">Cancel Order</button>
                            }
                            <button name="SubmitAction" type="submit" class="btn btn btn-info" value="@OrderStatus.Draft">Save Order as Draft</button>
                            <button name="SubmitAction" type="submit" class="btn btn btn-success" value="@OrderStatus.Sent">Submit Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
